.detail-msg .infor p,.shlide-items .list a .item,.active-cont .ticket .list a .item,.active-cont .ticket li dd,.active-cont .rebate .msg p,.active-cont .bag-free span,.active-box .much,.guess-like a,.guess-like p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.detail-status .more-status:after,.main-type .view-more a span:after,.special-hs .view-more a span:after,.hstype-modal .call .phoneico{background-image:url(../images/script-ico.png);background-repeat:no-repeat}.type-hs-imgs .show .player,.detail-msg .show .player,.type-hs-imgs .show .allview:before,.detail-msg .show .allview:before,.hstype-modal .full-view:after{background-image:url(../images/scriptPlayer.png);background-repeat:no-repeat}.detail-msg .hs-infor .concern,.detail-msg .hs-infor .concern-done,.detail-msg .average a,.detail-msg .infor p .open,.default-status,.default-newt{background-image:url(../images/dynamic-ico.png);background-repeat:no-repeat;padding-left:18px;color:#777}.detail-msg .hs-infor .concern:hover,.detail-msg .hs-infor .concern-done:hover,.detail-msg .average a:hover,.detail-msg .infor p .open:hover,.default-status:hover,.default-newt:hover{color:#4a90e2}.type-hs-imgs .show,.detail-msg .show,.main-type .type-img,.modal-bigpic .imgs-cont{background:#f2f2f2) no-repeat center}@keyframes Opacity{from{opacity:0}to{opacity:1}}@-moz-keyframes Opacity /* Firefox */{from{opacity:0}to{opacity:1}}@-webkit-keyframes Opacity /* Safari and Chrome */{from{opacity:0}to{opacity:1}}@-o-keyframes Opacity /* Opera */{from{opacity:0}to{opacity:1}}.detail-msg .line,.detail-status .line{color:#ccc;padding:0 8px;vertical-align:middle;font-size:14px}.detail-msg{margin-bottom:20px}.detail-msg .hs-imgs{width:560px;float:left}.detail-msg .hs-infor{margin-left:590px;line-height:1;position:relative}.detail-msg .hs-infor .hs-name{font-size:30px;color:#333;padding-bottom:15px}.detail-msg .hs-infor .topinfo{height:45px}.detail-msg .hs-infor .topinfo span{color:#fff;float:left;margin:5px 0 0 12px;padding:5px 8px 6px}.detail-msg .hs-infor .concern,.detail-msg .hs-infor .concern-done{position:absolute;top:48px;right:0;z-index:1;color:#0088cc}.detail-msg .hs-infor .concern:hover{background-position:left -24px}.detail-msg .hs-infor .concern-done{color:#4a90e2;background-position:0 -48px;cursor:default}.detail-msg .hs-infor .online{background:#4a90e2}.detail-msg .hs-infor .wait{background:#3ebb13}.detail-msg .hs-infor .none{background:#bbb}.detail-msg .adver{position:absolute;top:-45px;right:0;z-index:1;display:block}.detail-msg .average{padding:20px 0 15px}.detail-msg .average big{font-size:24px;color:#4a90e2;font-weight:bold}.detail-msg .average a{margin-left:15px}.detail-msg .average .change{background-position:0 -72px}.detail-msg .average .change:hover{background-position:0 -96px}.detail-msg .average .off{background-position:0 -120px}.detail-msg .average .off:hover{background-position:0 -144px}.detail-msg .about-active{background:#f5f5f5;width:100%;padding:12px 0 15px 10px;margin:0 0 15px -10px}.detail-msg .about-active .active-cont{margin-left:15px;position:relative;padding-right:25px}.detail-msg .about-active .tt{float:left}.detail-msg .infor p{padding-bottom:15px}.detail-msg .infor p a:hover span{color:#4a90e2}.detail-msg .infor p .open{background-position:0 -216px;margin-left:15px}.detail-msg .infor p .open:hover{background-position:0 -240px}.detail-msg .link{color:#0088cc;margin-left:10px}.detail-msg .link:hover{color:#4a90e2}.default-status{font-size:14px;margin-left:15px;background-position:0 -168px}.default-status:hover{background-position:0 -192px}.default-newt{background-position:0 -264px;margin-left:15px}.default-newt:hover{background-position:0 -288px}.type-hs-imgs .show,.detail-msg .show{width:560px;height:420px;position:relative;display:block;cursor:pointer}.type-hs-imgs .show .player,.type-hs-imgs .show .allview,.detail-msg .show .player,.detail-msg .show .allview{position:absolute;left:50%;z-index:99;display:block;margin:0 auto}.type-hs-imgs .show .player,.detail-msg .show .player{top:184px;width:60px;height:60px;margin-left:-30px;text-indent:-999em;opacity:0.85;filter:alpha(opacity=85);background-position:0 -69px}.type-hs-imgs .show .allview,.detail-msg .show .allview{top:158px;padding-top:64px;width:100px;height:36px;margin-left:-50px;font-size:16px;color:#fff;border-radius:100px;overflow:hidden;text-align:center;background:rgba(0,0,0,0.2);background:url(../images/icoshadow-bg.png) repeat\0}.type-hs-imgs .show .allview:before,.detail-msg .show .allview:before{content:"";position:absolute;top:20px;left:30px;z-index:2;width:40px;height:40px;display:block;background-position:-33px -22px}.type-hs-imgs .show:hover .player,.detail-msg .show:hover .player{opacity:1;filter:alpha(opacity=100)}.type-hs-imgs .show:hover .allview,.detail-msg .show:hover .allview{background:rgba(0,0,0,0.3);filter:alpha(opacity=30)}.type-hs-imgs .show img,.detail-msg .show img{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%}.type-hs-imgs .show .imgbox,.detail-msg .show .imgbox{position:absolute;width:100%;height:100%;left:0;top:0;z-index:1}.active-btn{height:40px;width:100%}.active-btn a{float:left;width:200px;height:40px;line-height:40px;text-align:center;display:block;background:#4a90e2}.active-btn a:hover{background:#e03700}.active-btn span{font-size:16px;padding-left:25px;background:url(../images/active-btn-ico.png) no-repeat;color:#fff}.active-btn .zc{background-position:0 3px}.active-btn .zy{background-position:0 -69px}.active-btn .all{background-position:0 -107px}.active-btn .vs{width:198px;height:38px;line-height:38px;margin-right:10px;border:1px solid #4a90e2;background:#ffeded}.active-btn .vs span{color:#4a90e2;background-position:0 -33px}.active-btn .vs:hover span{color:#fff;background-position:0 3px}.shlide-items,.active-cont .ticket{padding-top:10px}.shlide-items .prv,.shlide-items .next,.active-cont .ticket .prv,.active-cont .ticket .next{width:28px;height:64px;display:block;border:1px solid #e0e0e0;cursor:default}.shlide-items .prv span,.shlide-items .next span,.active-cont .ticket .prv span,.active-cont .ticket .next span{text-indent:-999em;display:block;margin:23px auto 0;width:10px;height:18px;background-image:url(../images/s-prv-next.png);background-repeat:no-repeat}.shlide-items .more,.active-cont .ticket .more{cursor:pointer}.shlide-items .prv,.shlide-items .list,.shlide-items .next,.active-cont .ticket .prv,.active-cont .ticket .list,.active-cont .ticket .next{float:left}.shlide-items .prv span,.active-cont .ticket .prv span{background-position:0 0}.shlide-items .prv.more span,.active-cont .ticket .prv.more span{background-position:-30px 0}.shlide-items .prv.more:hover,.shlide-items .next.more:hover,.active-cont .ticket .prv.more:hover,.active-cont .ticket .next.more:hover{background-color:#4a90e2;border-color:#4a90e2}.shlide-items .prv.more:hover span,.active-cont .ticket .prv.more:hover span{background-position:-60px 0}.shlide-items .next span,.active-cont .ticket .next span{background-position:-90px 0}.shlide-items .next.more span,.active-cont .ticket .next.more span{background-position:-120px 0}.shlide-items .next.more:hover span,.active-cont .ticket .next.more:hover span{background-position:-150px 0}.shlide-items .list,.active-cont .ticket .list{margin:0 10px;width:480px;height:66px;position:relative;overflow:hidden}.shlide-items .list ul,.active-cont .ticket .list ul{position:absolute;top:0;left:0;z-index:1;width:500%;height:100%}.shlide-items .list li,.active-cont .ticket .list li{width:88px;height:100%;float:left;margin-right:10px}.shlide-items .list a,.active-cont .ticket .list a{width:100%;height:100%;position:relative;display:block;background:#f2f2f2}.shlide-items .list a:before,.shlide-items .list a:after,.active-cont .ticket .list a:before,.active-cont .ticket .list a:after{content:"";display:block;position:absolute;top:0;left:0}.shlide-items .list a:before,.active-cont .ticket .list a:before{z-index:5;width:84px;height:62px;border:2px solid transparent}.shlide-items .list a:after,.active-cont .ticket .list a:after{z-index:1;width:100%;height:100%;background:rgba(0,0,0,0.2)}.shlide-items .list a img,.active-cont .ticket .list a img{width:100%;height:100%}.shlide-items .list a .item,.active-cont .ticket .list a .item{position:absolute;bottom:0;left:0;z-index:3;width:100%;height:26px;color:#fff;text-align:center;line-height:26px;background:rgba(0,0,0,0.6);background:url(../images/shadow-bg.png) repeat\0}.shlide-items .list a:hover:before,.shlide-items .list .on:before,.active-cont .ticket .list a:hover:before,.active-cont .ticket .list .on:before{border-color:#4a90e2}.shlide-items .list a:hover:after,.shlide-items .list .on:after,.active-cont .ticket .list a:hover:after,.active-cont .ticket .list .on:after{background:none}.active-cont .tip{color:#4a90e2;padding-bottom:10px}.active-cont>div:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0}.active-cont .ticket{width:510px;height:78px;overflow:hidden;margin-bottom:10px;border-bottom:1px dotted #ccc;padding:0 0 10px}.active-cont .ticket li{width:230px;height:78px;margin-right:7px;float:left;overflow:hidden;line-height:1}.active-cont .ticket li .get,.active-cont .ticket li .over{color:#fff}.active-cont .ticket li .txt{float:left;width:186px;height:70px;padding:8px 0 0 12px;background-image:url(../images/s-ticket.png)}.active-cont .ticket li .btn{background-image:url(../images/s-ticket.png)}.active-cont .ticket li .price{font-size:26px;float:left}.active-cont .ticket li .total{font-size:12px;float:left}.active-cont .ticket li dt{margin-bottom:5px}.active-cont .ticket li dd{font-size:12px;padding-bottom:2px;line-height:1.3}.active-cont .ticket li .btn{background-position:right top;padding:10px 9px 20px 9px;font-size:12px;height:50px;line-height:1.2;width:14px;float:left}.active-cont .ticket .mark{width:78px;height:18px;border-radius:20px;border:1px solid #fff;line-height:18px;text-align:center;font-size:12px;display:block;float:left;margin-left:10px;margin-top:2px}.active-cont .ticket .prv,.active-cont .ticket .next{width:34px;height:34px;float:none;border-color:#fff;background-color:#fff}.active-cont .ticket .prv span,.active-cont .ticket .next span{width:10px;height:18px;margin-top:8px;background-image:url(../images/s-prv-next.png)}.active-cont .ticket .next{margin-bottom:6px}.active-cont .ticket .get .btn{background-color:#ec7200}.active-cont .ticket .get .txt{background-color:#ff8915}.active-cont .ticket .get:hover .txt{background-color:#fe7e00}.active-cont .ticket .get:hover .btn{background-color:#e66f00}.active-cont .ticket .over .txt{background-color:#d5d5d5}.active-cont .ticket .over .btn{padding-top:18px;background-color:#c5c5c5}.active-cont .list-ticket{position:relative;overflow:hidden;height:78px;width:470px;float:left}.active-cont .list-ticket ul{position:absolute;top:0;left:0;z-index:1;width:500%}.active-cont .rebate-box{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dotted #ccc}.active-cont .rebate{height:58px;display:block;position:relative;line-height:1}.active-cont .rebate:hover .btn{background-position:right bottom}.active-cont .rebate:hover .msg{background:#fd6a76}.active-cont .rebate:hover .msg:before{background-position:left -72px}.active-cont .rebate .btn{float:left;color:#fff;width:118px;text-align:center;line-height:58px;font-size:16px;height:100%;background:url(../images/rebate-bg.png) no-repeat right 0}.active-cont .rebate .msg{float:left;position:relative;left:4px;z-index:5;height:58px;background-color:#ff7a85;color:#fff;padding:0 9px}.active-cont .rebate .msg:before{content:"";position:absolute;top:0;left:-4px;z-index:-1;width:62px;height:100%;background:url(../images/rebate-bg.png) no-repeat}.active-cont .rebate .msg p{padding-top:8px;max-width:368px;font-size:12px}.active-cont .rebate .msg .items{font-size:16px;padding-top:12px}.active-cont .rebate .msg .items i{font-size:14px;font-style:normal;color:#ffa2aa;padding:0 10px}.active-cont .bag-free>li+li{padding-top:10px;margin-top:10px;border-top:1px dotted #ccc;white-space:nowrap}.active-cont .bag-free i{width:24px;height:24px;font-size:16px;line-height:24px}.active-cont .bag-free .mcolor{max-width:78%}.active-box{border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;padding:15px 0;margin-top:15px;line-height:1}.active-box .item{float:left}.active-box .item:nth-child(2n){padding-left:20px;margin-left:19px;border-left:1px solid #ccc}.active-box .det{float:left;position:relative;padding-left:50px;width:70%}.active-box .det span{position:absolute;top:0;left:0;z-index:1;display:block;width:40px;height:40px;border-radius:2px;line-height:40px;text-align:center;color:#fff;font-size:24px}.active-box .ground span{background:#ff7a85}.active-box .free .much{padding-top:12px}.active-box .free span{background:#ff8133}.active-box .ticket span{background:#feaa31}.active-box .much{color:#f25824;font-size:16px;padding-bottom:10px}.active-box .time{color:#666}.active-box .apply{float:right;width:130px;height:40px;border-radius:2px;line-height:40px;text-align:center;color:#f24023;border:1px solid #f24023;font-size:16px}.active-box .apply:hover{border-color:#e03700;background-color:#e03700;color:#fff}.detail-reason{border:1px solid #ffcfbf;background:#fffcf2;padding:20px 15px;line-height:24px;margin:20px 0 50px}.detail-reason .title{font-size:16px;color:#4a90e2}.dt-nav-wrap{position:fixed;top:0;left:0;z-index:99;width:100%;height:57px}.dt-nav-wrap .detail-nav{border-bottom:5px solid #fff}.detail-nav{height:52px;background:#f2f2f2;padding:0}.detail-nav a{width:140px;height:52px;line-height:52px;text-align:center;display:block;font-size:18px;float:left}.detail-nav a:hover,.detail-nav .on{color:#fff;background:#4a90e2}.detail-status dl{border-top:1px dotted #ccc;padding-top:22px}.detail-status dt{font-size:16px}.detail-status dt .time{color:#999;margin-left:20px}.detail-status dd{margin:13px 0;color:#666;line-height:24px}.detail-status .pic{margin-bottom:13px}.detail-status .pic img{width:120px;height:90px;margin-right:8px;cursor:pointer}.detail-status .more-status{font-size:14px;padding-right:13px;position:relative}.detail-status .more-status:hover{color:#4a90e2}.detail-status .more-status:after{content:"";display:block;width:15px;height:14px;position:absolute;right:0;top:1px;z-index:1;background-position:8px -361px}.detail-status .more-status:hover:after{background-position:8px -380px}.main-type{line-height:1}.main-type .warmtip{color:#666;background:#fffcf2;border:1px solid #ffcfbf;padding:10px 8px}.main-type .hs-type li{min-height:150px;padding:30px 0;border-bottom:1px solid #e0e0e0}.main-type .hs-type>li:last-child{border:0}.main-type .type-img{width:198px;height:148px;border:1px solid #e0e0e0;float:left;position:relative}.main-type .type-img img{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%}.main-type .hsviewmore{background:rgba(0,0,0,0.3);padding:4px 7px;border-radius:0 2px 0 0;bottom:0;left:0}.main-type .hsviewmore .allview{text-indent:0;width:auto;color:#fff;padding-left:22px;line-height:0.9}.main-type .detail{margin-left:220px;padding-right:250px;position:relative}.main-type .detail a:hover{color:#4a90e2}.main-type .cooperate{font-size:14px;margin-left:10px;color:#4a90e2}.main-type .rcontent{position:absolute;top:35px;right:0;z-index:1;width:250px;text-align:right}.main-type .rcontent .total span{color:#4a90e2;font-size:30px;margin-left:3px}.main-type .rcontent .gain{width:110px;height:30px;line-height:30px;text-align:center;color:#fff;background:#4a90e2;border-radius:1px;margin-top:20px;display:inline-block}.main-type .rcontent .gain:hover{background-color:#e03700;color:#fff}.main-type .name{font-size:18px;padding-bottom:10px;display:inline-block}.main-type .virture{margin:15px 0}.main-type .hsactive span{color:#666}.main-type .hsactive p:last-child{padding-bottom:0}.main-type .view-more,.special-hs .view-more{border-top:1px solid #e0e0e0;position:relative;top:-1px}.main-type .view-more a,.special-hs .view-more a{width:180px;height:40px;line-height:40px;text-align:center;border:1px solid #e0e0e0;border-top:0;display:block;margin:0 auto}.main-type .view-more a:hover,.special-hs .view-more a:hover{background:#f2f2f2}.main-type .view-more a span,.special-hs .view-more a span{padding-right:15px;position:relative}.main-type .view-more a span:after,.special-hs .view-more a span:after{content:"";position:absolute;top:7px;right:0;z-index:1;display:block;width:10px;height:10px;background-position:0 -72px}.main-type .view-more .upflod span:after,.special-hs .view-more .upflod span:after{background-position:0 -50px}.hs-feture .dt-title{padding-bottom:5px}.hs-feture p{line-height:26px;padding:20px 0;font-size:14px;color:#333}.hs-feture img{max-width:1200px}.hs-around-support .map-nav{height:30px}.hs-around-support .map-nav a{padding:0 18px;line-height:30px;float:left;margin-right:10px}.hs-around-support .map-nav a:hover,.hs-around-support .map-nav a.on{background:#4a90e2;color:#fff}.hs-around-support .map-wrap{height:440px;margin:10px 0 20px}.hs-around-support .map-wrap .map-box{width:860px;height:440px;overflow:hidden;float:left;position:relative}.hs-around-support .map-wrap .map-msg{margin-left:880px}.hs-around-support .map-wrap .list{height:440px;width:100%;overflow-y:auto;border:0 !important;color:#666}.hs-around-support .map-wrap .list>div{height:440px;border:0 !important;font-family:Microsoft Yahei,arial,tahoma,cambira !important}.hs-around-support .map-wrap .list>div>div>span,.hs-around-support .map-wrap .list>div>div>a{color:#0088cc}.hs-around-support .map-wrap .address{background:#4a90e2;color:#fff;padding:6px 20px;position:absolute;top:10%;left:50%;z-index:99;border-radius:2px;cursor:pointer;white-space:nowrap}.hs-around-support .map-wrap .address:after{content:"";position:absolute;bottom:-6px;left:50%;z-index:1;display:block;width:0px;height:0px;margin-left:-3px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #4a90e2;font-size:0px;line-height:0px}.guess-like{line-height:1;margin-right:-25px}.guess-like li{margin:0 25px 30px 0;width:220px;float:left}.guess-like .hsimg{width:100%;height:164px;display:block;overflow:hidden}.guess-like .hsimg img{width:100%;height:100%}.guess-like .name{color:#333;font-size:18px;padding-top:13px;display:block}.guess-like .name:hover{color:#4a90e2}.guess-like p{padding-top:10px;color:#666}.modal-bigpic .close,.hstype-modal .close{position:absolute;top:30px;right:30px;z-index:99;width:35px;height:35px;display:block;background:url(../images/modal-pic.png) no-repeat;text-indent:-999em}.modal-bigpic .close:hover,.hstype-modal .close:hover{background-position:-355px 0}.modal-bigpic .imgs-cont{position:absolute;top:50%;left:50%;z-index:1;width:960px;height:720px;margin:-360px 0 0 -480px}.modal-bigpic .imgs-cont img{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1}.modal-bigpic .imgs-cont .page{background:rgba(0,0,0,0.5);text-align:center;line-height:40px;color:#fff;width:120px;height:40px;border-radius:2px;position:absolute;bottom:20px;left:50%;margin-left:-60px;font-size:18px;z-index:5}.modal-bigpic .prv,.modal-bigpic .next{width:60px;height:120px;background-color:#141414;position:absolute;top:50%;margin-top:-60px;z-index:10;display:block;cursor:default}.modal-bigpic .prv span,.modal-bigpic .next span{width:14px;height:26px;display:block;margin:47px auto 0;text-indent:-999em;background:url(../images/modal-pic.png) no-repeat}.modal-bigpic .more{cursor:pointer}.modal-bigpic .prv{left:30px}.modal-bigpic .prv span{background-position:-181px 0}.modal-bigpic .prv.more span{background-position:-135px 0}.modal-bigpic .prv.more:hover span{background-position:-76px 0}.modal-bigpic .next{right:30px}.modal-bigpic .next span{background-position:-316px 0}.modal-bigpic .next.more span{background-position:-271px 0}.modal-bigpic .next.more:hover span{background-position:-226px 0}.modal-bigpic .more:hover{background:#000}.hstype-modal{position:fixed;top:0;left:0;z-index:999;width:100%;background:rgba(0,0,0,0.8);background:url(../images/shadow-bg.png) repeat\0;height:100%;line-height:1;overflow-y:auto}.hstype-modal .close{position:fixed}.hstype-modal .hstype-cont{width:800px;margin:0 auto 200px;background:#fff;padding:30px;position:relative;top:220px}.hstype-modal .dt-title{font-size:18px}.hstype-modal .type-msg{position:relative}.hstype-modal .type-msg .name{font-size:24px;padding-bottom:10px}.hstype-modal .type-msg .address{font-size:18px;padding-bottom:10px}.hstype-modal .type-msg .rinfo{position:absolute;top:15px;right:0;z-index:1;text-align:right}.hstype-modal .type-msg .total{margin-bottom:20px}.hstype-modal .type-msg .total span{font-size:30px;color:#4a90e2}.hstype-modal .type-hs-imgs{padding-top:20px;width:800px}.hstype-modal .show{width:798px;height:600px;border:1px solid #e0e0e0}.hstype-modal .full-view{position:absolute;bottom:0;left:50%;z-index:5;width:100px;height:50px;line-height:50px;padding-left:63px;margin-left:-80px;border-radius:3px 3px 0 0;display:block;color:#fff;font-size:18px;background-color:#4a90e2}.hstype-modal .full-view:after{content:"";position:absolute;top:14px;left:35px;z-index:1;width:20px;height:20px;display:block;background-position:0px -20px}.hstype-modal .full-view:hover{background-color:#e03700}.hstype-modal .shlide-items .list,.hstype-modal .shlide-items .list ul{height:98px}.hstype-modal .shlide-items .prv,.hstype-modal .shlide-items .next{width:43px}.hstype-modal .shlide-items .prv span,.hstype-modal .shlide-items .next span{width:14px;height:26px;margin-top:35px;background-image:url(../images/b-prv-next.png)}.hstype-modal .shlide-items .prv,.hstype-modal .shlide-items .next{height:96px}.hstype-modal .shlide-items .list li{height:96px;width:128px;border:1px solid #e0e0e0}.hstype-modal .shlide-items .list{width:690px}.hstype-modal .shlide-items .list a:before{width:126px;height:92px}.hstype-modal .shlide-items .list a:after{display:none}.hstype-modal .active-cont{background:#f5f5f5;padding:14px 20px}.hstype-modal .active-cont .ticket{width:760px}.hstype-modal .active-cont .ticket li{margin-right:10px}.hstype-modal .active-cont .list-ticket{width:710px}.hstype-modal .active-cont .hsactive{border-bottom:1px dotted #ccc;padding-bottom:10px}.hstype-modal .active-cont .active-btn{margin-top:10px}.hstype-modal .active-box{border-top:1px dotted #ccc;border-bottom:0;margin-top:10px;padding:0}.hstype-modal .active-box li{border-bottom:1px dotted #ccc;height:40px;display:block;padding:10px 0}.hstype-modal .call{width:778px;height:28px;background:#fffcf2;border:1px solid #ffcfbf;padding:10px;margin-top:20px}.hstype-modal .call p{float:left;color:#4a90e2;font-size:16px;padding:7px 0 7px 32px;position:relative}.hstype-modal .call .phoneico{width:19px;height:20px;position:absolute;top:5px;left:5px;z-index:1;background-position:0 -330px}.hstype-modal .call .btn{width:90px;height:30px;line-height:30px;text-align:center;color:#fff;background:#4a90e2;float:right}.hstype-modal .call .btn:hover{background-color:#e03700}.hstype-modal .special-hs p,.hstype-modal .special-hs .rtxt{line-height:50px}.hstype-modal .special-hs li{border-top:1px solid #e0e0e0;height:50px}.hstype-modal .special-hs .rtxt{float:right;text-align:right}.hstype-modal .special-hs .origin{color:#999;padding-right:20px;text-decoration:line-through}.hstype-modal .reason{background:#fffcf2;border:1px solid #ffcfbf;padding:10px;line-height:18px}.hstype-modal .bgf{background:#fff !important}.hstype-modal .intro{overflow:hidden;width:800px}.hstype-modal .intro img{max-width:100%}.hstype-modal .topr,.hstype-modal .tonx{position:absolute;top:50%;z-index:10;display:block;width:40px;height:100px;background:#fff;margin-top:-50px;border:1px solid #e0e0e0;cursor:default;display:none}.hstype-modal .topr.more,.hstype-modal .tonx.more{cursor:pointer;display:block}.hstype-modal .topr.more:hover,.hstype-modal .tonx.more:hover{background:#4a90e2}.hstype-modal .topr span,.hstype-modal .tonx span{width:14px;height:26px;margin:37px auto 0;text-indent:-999em;display:block;background:url(../images/b-prv-next.png) no-repeat}.hstype-modal .topr{left:-20px}.hstype-modal .topr span{background-position:0 0}.hstype-modal .topr.more span{background-position:-30px 0}.hstype-modal .topr.more:hover span{background-position:-60px 0}.hstype-modal .tonx{right:-20px}.hstype-modal .tonx span{background-position:-90px 0}.hstype-modal .tonx.more span{background-position:-120px 0}.hstype-modal .tonx.more:hover span{background-position:-150px 0}.loading{position:fixed;left:50%;top:50%;margin-left:-55px;margin-top:-55px;z-index:9999;width:110px;height:110px}.loading-radius{width:110px;height:110px;background-position:0 0;animation:1s linear 0s normal forwards infinite running rotate}.loading-radius,.loading-fdd{display:block;background:url(../images/loading.png) no-repeat}.loading-fdd{width:66px;height:66px;background-position:-22px -129px;position:absolute;left:50%;top:50%;margin-left:-33px;margin-top:-33px}@-webkit-keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.status-all{padding-top:25px}.status-all .detail-status{width:860px;float:left}.status-all .detail-status .dt-title{padding-top:0}.status-all .top-title{font-size:24px;padding-bottom:25px;border-bottom:1px solid #e0e0e0}.hs-none{text-align:center;padding:150px 0}.hs-none .tip{font-size:24px;color:#999;padding-top:120px;margin-bottom:30px;background:url(../images/hs-none.png) no-repeat center 0}.hs-none a{width:140px;height:30px;line-height:30px;text-align:center;background:#f2f2f2;border:1px solid #e0e0e0;display:block;margin:0 auto}.hs-none a:hover{background:#eaeaea}.ticket-active{padding-top:195px;width:1027px;margin:0 auto;position:relative}.ticket-active .close{position:absolute;top:125px;right:0;z-index:1;display:block;background:url(../images/ticket-close.png) no-repeat;width:49px;height:49px}.ticket-active .main{height:335px;padding-top:230px;background:url(../images/ticket-bg.png) no-repeat}.ticket-active .btn{width:216px;height:60px;display:block;margin:0 auto;text-align:center;background:#fffa42;border-radius:6px;line-height:60px;font-size:24px;color:#cd4a02;box-shadow:inset 0 -6px 0 #f9a41e,0 6px 0 rgba(227,37,0,0.26)}.ticket-active .btn:hover{background:#f3d71d;box-shadow:inset 0 -4px 0 #f9a41e,0 6px 0 rgba(227,37,0,0.26)}.xf-aside .column{position:relative;right:20px}.xf-aside .adver{position:absolute;top:-180px;right:0;z-index:1;display:block}    .play { width: 560px; height: 430px; background: #333; font: 12px Arial; margin:0 auto }
.big_pic { width: 560px; height: 320px; overflow: hidden; border-bottom: 1px solid #fff; background: #fff; position: relative; }
.big_pic li { width: 560px; height: 320px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 0; background: url(images/loading.gif) no-repeat center center; }
.big_pic li img{width: 100%;}
.mark_left { width: 280px; height: 320px; position: absolute; left: 0; top: 0; background: red; filter: alpha(opacity:0); opacity: 0; z-index:3000; }
.mark_right { width: 280px; height: 320px; position: absolute; left: 280px; top: 0; background: green; filter: alpha(opacity:0); opacity: 0; z-index:3000; }
.big_pic .prev { width: 30px; height: 30px; background: url(images/btn.png) no-repeat; position: absolute; top: 130px; left: 10px; z-index: 3001; cursor: pointer; filter:alpha(opacity: 0); opacity:0; }
.big_pic .next { width: 30px; height: 30px; background: url(images/btn.png) no-repeat 0 -30px; position: absolute; top: 130px; right: 10px; z-index: 3001;cursor: pointer; filter:alpha(opacity: 0); opacity:0; }
.big_pic .text { position: absolute; left: 10px; top: 302px; z-index: 3000; color: #fff; }
.big_pic .length { position: absolute; right: 10px; bottom: 4px; z-index: 3000; color: #fff; }
.big_pic .bg { width: 560px; height: 25px; background: #fff; filter: alpha(opacity=60); opacity: 0.6; position: absolute; z-index: 2999; bottom: 0; left: 0; }
.small_pic { width: 540px; height: 94px; position: relative; top: 7px; left: 10px; overflow: hidden; }
.small_pic ul { height: 94px; position: absolute; top: 0; left: 0; }
.small_pic li { width: 120px; height: 94px; float: left; padding-right: 10px; background: url(images/loading.gif) no-repeat center center; cursor: pointer; filter: alpha(opacity=60); opacity: 0.4; }
.small_pic img { width: 120px; height: 94px; }.list-main {
                                                  list-style: none;
                                                  margin: 0;
                                                  padding: 0
                                              }

.list-main .list-item {
    padding: 10px 10px 10px 0;
    margin: 0 0 0 10px;
    border-bottom: 1px solid #E9E9E9
}

.list-main .list-item:after, .list-main .list-item:before {
    display: table;
    content: " ";
    clear: both
}

.list-main .list-item:last-child {
    border-bottom: 0;
    margin-bottom: 0
}

.list-main .list-item .col-xs-6 {
    padding: 0
}

.list-item a.item-link:active, .list-item a.item-link:link, .list-item a.item-link:hover {
    color: inherit;
    text-decoration: none
}

.list-main .list-item.more {
    line-height: 40px;
    color: #F25824;
    text-align: center;
    padding: 0;
    margin: 0
}

.list-main .list-item.more a {
    color: #F25824;
    display: block
}

.list-main .list-item .right {
    margin-left: 102px
}

.list-main .list-item .price {
    float: right;
    font-size: 1.6rem;
    font-weight: 700;
    color: #F25824;
    margin-top: -6px;
}

.list-main .list-item .price .unit {
    font-size: 1.4rem;
    font-weight: 700;
    vertical-align: middle;
    margin-left: .3rem;
}

.list-main .list-item .text-price {
    float: right;
    font-size: 1.2rem;
}

.list-main .list-item .price-1 {
    float: right;
    color: #F25824;
    margin-top: 30px
}

.list-main .list-item .price-1 .unit {
    vertical-align: middle
}

.list-main .list-item .text-1, .list-main .list-item .text-5 {
    color: #313233;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: .6rem;
    white-space: nowrap
}

.list-main .list-item .text-2 {
    font-size: 1.2rem;
    color: #626466;
    margin-bottom: .6rem;
}

.list-main .list-item .text-3 {
    font-size: 1.4rem;
    color: #F25824;
    margin-bottom: .6rem
}

.list-main .list-item .text-4 {
    font-size: 1.3rem;
    color: #626466;
    margin-bottom: .6rem
}

.list-main .list-item .text-6 {
    font-size: 1.3rem;
    color: #626466;
    margin-bottom: .5rem;
    margin-top: .5rem
}

.list-main .list-item .text-7 {
    line-height: 1.5
}

.list-main .list-item .text-7 .label {
    margin-left: 0;
    margin-right: 4px
}

.list-main .list-item .text-7 .label:last-child {
    margin-right: 0
}

.section-loupan {
    margin-bottom: 10px;
    margin-top: -1px
}

.section-loupan .layout-img {
    width: 100px;
    height: 75px;
    border: 0;
    padding: 0;
    margin-left: -4px;
    margin-right: 10px;
}

.ht-hf-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    padding-left: 0px;;
}

.section-loupan .img-sale {
    width: 50px;
    height: 50px;
    float: left;
    padding: 0;
    margin: 0;
}

.section-loupan .loupan-info {
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #D8D8D8;
    display: block
}

.section-loupan .loupan-info:hover, .section-loupan .loupan-info:link, .section-loupan .loupan-info:active {
    color: inherit;
    text-decoration: none
}

.section-loupan .loupan-info .right {
    margin-left: 90px
}

.section-loupan .loupan-info .text-1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #313233;
    margin: 1px 0 0;
    white-space: nowrap
}

.section-loupan .info .name {
    font-size: 1.9rem;
    font-weight: 500;
    color: #313233;
    margin-top: 4px;
    white-space: nowrap;
}

.ht-hf-item-name {
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;
    float: left;
    margin-left: 10px;
}

.ht-hf-item-detail {
    font-size: xx-small;
    float: left;
    line-height: 1.5;
    margin-left: 50px;
    margin-top: -14px;
}

.hf-detail-1 {
    background: url(../img/ct.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}

.hf-detail-2 {
    background: url(../img/cf.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}

.hf-detail-3 {
    background: url(../img/hy.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-4 {
    background: url(../img/kt.png) 0 0 no-repeat;
    background-size:100% 100%;
    overflow: hidden;
}
.hf-detail-5 {
    background: url(../img/sf.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-6 {
    background: url(../img/ws.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-7 {
    background: url(../img/xsj.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-8 {
    background: url(../img/xg.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-9 {
    background: url(../img/yt.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-10 {
    background: url(../img/ys.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-11 {
    background: url(../img/11.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-12 {
    background: url(../img/12.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.hf-detail-99 {
    background: url(../img/99.png) 0 0 no-repeat;
    overflow: hidden;
    background-size:100% 100%;
}
.section-loupan .info .comment-time {
    font-size: 1.2rem;
    color: #626466;
    margin-top: 4px;
    padding-right: 10px;
    white-space: nowrap;
    float: right;
}

.section-loupan .info .fuwu-num {
    font-size: 1.4rem;
    color: #626466;
    margin-top: 4px;
    padding-left: 4px;
    white-space: nowrap;
}

.section-loupan .info .rate-green {
    font-size: 1.2rem;
    color: #28D45E;
    margin-top: .6rem
}

.section-loupan .info .rate-red {
    font-size: 1.2rem;
    color: red;
    margin-top: .6rem
}

.section-loupan .info .comment {
    font-size: 1.2rem;
    color: black;
    margin-top: 0px;
    position: relative;
    padding-left: 60px;
}

.section-loupan .loupan-info .text-2 {
    font-size: 1.4rem;
    color: #939599;
    margin-top: .6rem
}

.section-loupan .loupan-info .price-1 {
    float: right;
    font-size: 1.8rem;
    font-weight: 700;
    color: #F25824;
    margin-top: 1rem
}

.section-loupan .loupan-info .price-1 .unit {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: .3rem
}
.lp-price .pm {
    color: #3D3E40;
    font-size: 1.0rem;
    margin-left: .3rem;
}
.section-loupan .list-item .right {
    margin-left: 70px
}

.layout-param {
    float: left;
    width: 48px;
    height: 48px;
    font-size: 1.4rem;
    color: #F25824;
    border: 1px solid #F25824;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin-left: 5px;
    padding-top: 3px;
    margin-top: 1.3rem
}

.section-loupan .more {
    position: relative
}
/*# sourceMappingURL=htdetail.css.map */